In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("/home/root1/18is148/zoo.csv")
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [3]:
class_type_output = df["class_type"]
df = df.drop("class_type", axis=1).drop("animal_name",axis=1)
print(df)

     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0       1         0     0     1         0        0         1        1
1       1         0     0     1         0        0         0        1
2       0         0     1     0         0        1         1        1
3       1         0     0     1         0        0         1        1
4       1         0     0     1         0        0         1        1
5       1         0     0     1         0        0         0        1
6       1         0     0     1         0        0         0        1
7       0         0     1     0         0        1         0        1
8       0         0     1     0         0        1         1        1
9       1         0     0     1         0        0         0        1
10      1         0     0     1         0        0         1        1
11      0         1     1     0         1        0         0        0
12      0         0     1     0         0        1         1        1
13      0         0     1     0         0        0         1        0
14      0         0     1     0         0        1         1        0
15      0         0     1     0         0        1         1        0
16      0         1     1     0         1        0         1        0
17      1         0     0     1         0        0         0        1
18      0         0     1     0         0        1         1        1
19      0         0     0     1         0        1         1        1
20      0         1     1     0         1        0         0        0
21      0         1     1     0         1        1         0        0
22      1         0     0     1         0        0         0        1
23      0         1     1     0         1        0         0        0
24      0         0     1     0         0        0         0        0
25      0         0     1     0         0        1         1        1
26      0         0     1     0         0        1         1        1
27      1         0     0     1         1        0         0        1
28      1         0     0     1         0        0         0        1
29      1         0     0     1         0        0         1        1
..    ...       ...   ...   ...       ...      ...       ...      ...
71      0         1     1     0         0        0         1        0
72      0         0     0     0         0        0         1        0
73      0         0     1     0         0        1         0        1
74      1         0     0     1         0        1         1        1
75      1         0     0     1         0        1         1        1
76      0         0     0     0         0        1         1        1
77      0         0     1     0         0        1         1        0
78      0         1     1     0         1        1         1        0
79      0         1     1     0         1        1         1        0
80      0         0     1     0         0        0         1        1
81      0         0     1     0         0        0         0        0
82      0         0     1     0         0        1         0        1
83      0         1     1     0         1        0         0        0
84      1         0     0     1         0        0         0        1
85      0         0     1     0         0        1         1        0
86      0         0     1     0         0        1         1        1
87      0         1     1     0         1        1         0        0
88      0         0     1     0         0        0         0        0
89      0         0     1     0         0        1         0        1
90      0         0     1     0         0        0         0        0
91      0         0     1     0         0        0         1        1
92      0         0     1     0         0        1         1        1
93      1         0     0     1         1        0         0        1
94      1         0     0     1         0        0         0        1
95      0         1     1     0         1        0         1        0
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0           1         1         0     0     4     0         0        1
1           1         1         0     0     4     1         0        1
2           1         0         0     1     0     1         0        0
3           1         1         0     0     4     0         0        1
4           1         1         0     0     4     1         0        1
5           1         1         0     0     4     1         0        1
6           1         1         0     0     4     1         1        1
7           1         0         0     1     0     1         1        0
8           1         0         0     1     0     1         0        0
9           1         1         0     0     4     0         1        0
10          1         1         0     0     4     1         0        1
11          1         1         0     0     2     1         1        0
12          1         0         0     1     0     1         0        0
13          0         0         0     0     0     0         0        0
14          0         0         0     0     4     0         0        0
15          0         0         0     0     6     0         0        0
16          1         1         0     0     2     1         0        0
17          1         1         0     0     4     1         0        1
18          1         0         0     1     0     1         0        1
19          1         1         0     1     0     1         0        1
20          1         1         0     0     2     1         1        0
21          1         1         0     0     2     1         0        0
22          1         1         0     0     4     1         0        1
23          1         1         0     0     2     1         0        1
24          0         1         0     0     6     0         0        0
25          1         1         0     0     4     0         0        0
26          1         1         1     0     4     0         0        0
27          1         1         0     0     2     1         0        0
28          1         1         0     0     4     1         0        1
29          1         1         0     0     2     0         1        1
..        ...       ...       ...   ...   ...   ...       ...      ...
71          1         1         0     0     2     1         0        1
72          0         1         1     0     8     1         0        0
73          1         0         0     1     0     1         0        0
74          1         1         0     1     0     0         0        1
75          1         1         0     1     2     1         0        1
76          1         0         1     0     0     1         0        0
77          0         0         1     0     0     0         0        0
78          1         1         0     0     2     1         0        0
79          1         1         0     0     2     1         0        0
80          1         1         0     0     0     1         0        0
81          0         1         0     0     0     0         0        0
82          1         0         0     1     0     1         0        0
83          1         1         0     0     2     1         0        0
84          1         1         0     0     2     1         0        0
85          0         0         0     0     5     0         0        0
86          1         0         1     1     0     1         0        1
87          1         1         0     0     2     1         0        1
88          0         1         0     0     6     0         0        0
89          1         1         0     0     4     0         0        0
90          1         1         0     0     4     1         0        1
91          1         1         0     0     4     1         0        0
92          1         0         0     1     0     1         0        1
93          1         1         0     0     2     1         0        0
94          1         1         0     0     4     1         0        0
95          1         1         0     0     2     1         0        1
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[101 rows x 16 columns]

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, class_type_output, test_size=0.20)

In [5]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier()

In [6]:
y_prediction = classifier.predict(x_test)
y_prediction

array([7, 1, 4, 7, 1, 1, 1, 7, 1, 1, 1, 7, 1, 1, 1, 4, 4, 1, 1, 6, 2])

In [7]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
confusion_matrix(y_test,y_prediction)

array([[12,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0],
       [ 0,  0,  3,  0,  0],
       [ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  1,  4]])

In [8]:
print(classification_report(y_test, y_prediction))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        12
           2       1.00      1.00      1.00         1
           4       1.00      1.00      1.00         3
           6       0.00      0.00      0.00         0
           7       1.00      0.80      0.89         5

    accuracy                           0.95        21
   macro avg       0.80      0.76      0.78        21
weighted avg       1.00      0.95      0.97        21

/home/root1/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/root1/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/root1/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [9]:
predicted_class = list(y_prediction)
actual_class = list(y_test)
for i in range(len(predicted_class)):
    print("Predicted class =", predicted_class[i],"\tActual class =",actual_class[i])

Predicted class = 7 	Actual class = 7
Predicted class = 1 	Actual class = 1
Predicted class = 4 	Actual class = 4
Predicted class = 7 	Actual class = 7
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 7 	Actual class = 7
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 7 	Actual class = 7
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 4 	Actual class = 4
Predicted class = 4 	Actual class = 4
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 6 	Actual class = 7
Predicted class = 2 	Actual class = 2